<div class="container">
  <div class="width-container">
    <h1 class="title">{{'authPage.login' | translate}}</h1>

    <div class="contact">
      <form #registerForm="ngForm" class="form">
        <div class="input">
            <label for="email">{{'authPage.emailLabel' | translate}}</label>
          <input type="email" [(ngModel)]="data.email" name="email" id="email" required/>
        </div>
        <div class="input">
            <label for="pwd">{{'authPage.passwordLabel' | translate}}</label>
          <input type="password" [(ngModel)]="data.password" name="pwd" id="pwd" required (paste)="doNothing($event)" onpaste="event.preventDefault()"/>
        </div>
        <div class="button-container">
          <button (click)="reset()">{{'authPage.resetButton' | translate}}</button>
          <button (click)="login()" [disabled]="registerForm['form'].invalid">{{'authPage.loginButton' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
