.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  font-weight: 500;
  margin-top: 2rem;
  padding: 1rem;
  border-top: solid black;
  background-color: #F8F8F8;
  height: 1.5em;
  width: 100%;
  z-index: -1;
  p {
    color: #0E0227;
    text-align: center;
  }
  button {
    border-radius: 3rem;
    border: 3px solid #AF90F8;
    background-color: #6528F7;
    color: #F8F8F8;
    padding: 0.75em 1em;
    cursor: pointer;
    margin-left: 1em;
  }
}

@media screen and (max-width: 1300px){
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-weight: 500;
    font-size: 0.8em;
    color: #0E0227;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border-top: solid black;
    background-color: #F8F8F8;
  }

}
