.button {
  color: black;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0.75em 0.5em;
  cursor: pointer;
}

.button:focus {
  font-weight: 700;
  text-decoration: underline;
}

.div {
  display: flex;
  flex-direction: row;
}
