.news {
  padding: 30px 5%;

  &__item {
    margin-bottom: 20px;
    background: #6528F7;
    color: white;
  }

  &__header {
    background: #6528F7;
    padding: 10px;

    h2 {
      font-size: 2em;
      margin: 0;
    }

    a {
      color: white;
    }
  }

  &__date {
    float:right;
  }

  &__content {
    padding: 10px;
  }

  .newsletter {
    border: #6528F7 solid 0.25em;
    padding: 1rem;

    .button {
      color: #F8F8F8;
      background-color: #6528F7;
      border: none;
      outline: none;
      box-shadow: none;
      padding: 0.75em 1em;
      cursor: pointer;
      margin-left: 1em;
    }
  }
}
