<div class="news">
  <h1>{{ 'newsPage.title' | translate }}</h1>


  <div class="news_items">
    @for (news of (allNews$ | async); track news.id) {
      <div class="news__item">
        <div class="news__header">
          <div class="news__date">{{formatDate(news.date)}}</div>
          <h2><a [href]="'news/'+news.id"> {{news.title}}</a></h2>
        </div>
        <div class="news__content">
          <p>{{news.description}}</p>
        </div>
      </div>
    } @empty {
      <div class="news_item">
        <h2>No news</h2>
      </div>
    }
  </div>
  <div class="newsletter">
    <h3>{{'newsPage.newsletterTitle' | translate}}</h3>
    <p>{{'newsPage.newsletterText' | translate}}</p>
    <label for="Email">{{'newsPage.email' | translate}}</label>
    <input type="email" name="email" id="email"/>
    <button class="button">{{'newsPage.newsletterButton' | translate}}</button>
  </div>
</div>
