.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #0E0227;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 2em;
  margin-bottom: 1em;

  &__menu-burger {
    display: none;
  }

  &__logo {
    cursor: pointer;
  }

  &__menu-phone {
    display: none;
  }

  &__menu {
    display: flex;
    gap: 1em;
    font-size: 1.1em;
    align-items: center;
    font-weight: 500;

    div {
      display: flex;
      gap: 1em;
      padding: 0.75em 1em;
      align-items: center;
    }

    a {
      cursor: pointer;

      &:hover {
        font-weight: 600;
        text-decoration: underline 0.15em !important;
      }
    }

    .signup {
      background-color: #6528F7;
      color: #F8F8F8;
      padding: 0.75em 1em;
    }

    & > * {
      padding: 0.75em 1em;
      display: inline-block;
      text-decoration: none !important;
    }
  }
}

@media screen and (max-width: 1300px){
  .header{
    &__menu {
      display: flex;
      gap: 1em;
      font-size: 0.85em;
    }
  }
}

@media screen and (max-width: 910px){
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

@media screen and (max-width: 630px){
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    &__logo {
      display: flex;
      flex-direction: row;
      gap: 2em;
    }

    &__menu-burger {
      display: block;
    }

    &__menu {
      display: none;
    }

    &__menu-phone {
      display: none;
      flex-direction: column;
    }
  }
}
