<div class="header">
  <div class="header__logo">
    <div class="header__menu-burger" (click)="openMenu()">
      <img src="../../../assets/icons/burger-icon.svg" alt="menu burger">
    </div>
    <a class="header" href="/">
      <img src="../../../assets/icons/logo.svg" alt="logo a11y">
    </a>
  </div>
  <div class="header__menu">
    <a class="header__menu" (keydown.enter)="goToAbout()" href="/about">
      {{ 'header.about' | translate }}
    </a>
    <a class="header__menu" (keydown.enter)="goToContact()" href="/contact">
      {{ 'header.contact' | translate }}    </a>
    <a class="header__menu" (keydown.enter)="goToNews()" href="/news">
      {{ 'header.news' | translate }}
    </a>
    <div *ngIf="authService.isLoggedIn()">
      <a class="header__menu" (keydown.enter)="goToList()" href="/lists">
        {{ 'header.lists' | translate }}
      </a>
    </div>
    <div *ngIf="!authService.isLoggedIn()">
      <a class="header__menu" (keydown.enter)="goToLogin()" href="/login">
        {{ 'header.login' | translate }}
      </a>
      <a class="signup" (keydown.enter)="goToRegister()" href="/register">
        {{ 'header.register' | translate }}
      </a>
    </div>
    <div *ngIf="authService.isLoggedIn()">
      <a class="signup"   (keydown.enter)="logout()" (click)="logout()">
        {{ 'header.logout' | translate }}
      </a>
    </div>
    <a11y-language-switcher/>
  </div>

  <div class="header__menu-phone" *ngIf="isMenuBurgerOpen">
    <a class="header__menu-link" href="/about">
      {{ 'header.about' | translate }}
    </a>
    <a class="header__menu-link" href="/contact">
      {{ 'header.contact' | translate }}    </a>
    <a class="header__menu-link" href="/news">
      {{ 'header.news' | translate }}
    </a>
    <div *ngIf="authService.isLoggedIn()">
    <a class="header__menu-link" href="/lists">
      {{ 'header.lists' | translate }}
    </a>
    </div>
    <div *ngIf="!authService.isLoggedIn()">
      <a class="header__menu-link" href="/login">
        {{ 'header.login' | translate }}
      </a>
      <a class="signup" href="/register">
        {{ 'header.register' | translate }}
      </a>
    </div>
    <div *ngIf="authService.isLoggedIn()">
      <a class="signup" (click)="logout()">
        {{ 'header.logout' | translate }}
      </a>
    </div>
    <a11y-language-switcher/>
  </div>
</div>
