.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #0E0227;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 2em;
  margin-bottom: 1em;

  &__logo {
    cursor: pointer;
  }

  &__menu {
    display: flex;
    gap: 1em;
    font-size: 1.1em;
    align-items: center;
    font-weight: 500;

    div {
      display: flex;
      gap: 1em;
      padding: 0.75em 1em;
      align-items: center;
    }

    a {
      cursor: pointer;

      &:hover {
        font-weight: 600;
        text-decoration: underline 0.15em !important;
      }
    }

    .signup {
      background-color: #6528F7;
      color: #F8F8F8;
      padding: 0.75em 1em;
    }

    & > * {
      padding: 0.75em 1em;
      display: inline-block;
      text-decoration: none !important;
    }
  }
}
