<div class="header">
  <div class="header__logo"> a11y Project</div>
  <div class="header__menu">
    <a class="header__menu-link" routerLink="/">
      {{ 'header.home' | translate }}
    </a>
    <span class="header__menu-link" (click)="goToAbout()">
      {{ 'header.about' | translate }}
    </span>
    <span class="header__menu-link" (click)="goToContact()">
      {{ 'header.contact' | translate }}
    </span>
    <span class="header__menu-link" (click)="goToNews()">
      {{ 'header.news' | translate }}
    </span>
    <a class="header__menu-link" routerLink="/lists">
      {{ 'header.lists' | translate }}
    </a>
    <div *ngIf="!authService.isLoggedIn()">
      <span class="header__menu-link" (click)="goToLogin()">
      {{ 'header.login' | translate }}
    </span>
      <span class="header__menu-link" (click)="goToRegister()">
      {{ 'header.register' | translate }}
    </span>
    </div>
    <div *ngIf="authService.isLoggedIn()">
      <span class="header__menu-link" (click)="logout()">
      {{ 'header.logout' | translate }}
    </span>
    </div>
    <a11y-language-switcher/>
  </div>
</div>
