.banner {
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 10000;

  border: 3px solid #6528F7;
  background-color: #AF90F8;
  text-align: center;
  padding: 0 5rem;

  h1 {
    text-align: center;
  }
  .button {
    cursor: pointer;
    border-radius: 3rem;
    background-color: #6528F7;
    color: #F8F8F8;
    padding: 0.75em 1em;
    margin: 1rem 0.5rem;
    border: none;
  }
}
