@font-face {
  font-family: Pixel;
  src: url(../../../assets/fonts/SerifPixel7-llXe.ttf);
}

.section {
  &__title {
    font-size: 3em;
    font-weight: 400;
    color: #F8F8F8;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    background-color: #6528F7;
    z-index: 1;
  }

  &__right-testinomies {
    display: flex;
    justify-content: end;
  }

  &__title-testinomies {
    width: 40%;
    font-size: 3em;
    font-weight: 400;
    padding: 0.4em;
    color: #F8F8F8;
    background-color: #6528F7;
    text-align: center;
  }

  &__left {
    width: 40%;
    padding: 1em;
    background-color: #0E0227;
    z-index: 1;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    text-align: end;
    color: #F8F8F8;
    font-size: 18px;
    padding: 1.5em;
    z-index: 3;
  }

  .paragraph-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }
}

.section--1 {
  position: relative;
  margin-top: 2em;
}

.section--2 {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 2em;

  .section__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & > * {
      display: inline-block;
    }
  }

  .card {
    color: #F8F8F8;
    width: 60vh;
    padding: 1em;

    &__header-1 {
      text-align:center;
      font-size: 2rem;
      font-weight: bold;
      background-color: #6528F7;
      padding: 0.5em;
    }

    &__header-2 {
      text-align:center;
      font-size: 2rem;
      font-weight: bold;
      background-color: #0E0227;
      padding: 0.5em;
    }

    &__body {
      padding: 10px;
    }
  }

  .card--1 {
    .card__body {
      padding: 1em;
      background-color: #6528F7;
      line-height: 2em;

      a{
        font-family: Pixel;
        color: #F8F8F8;
      }
    }
  }

  .card--2 {
    .card__body {
      padding: 1em;
      background-color: #0E0227;
      line-height: 2em;
    }
  }
}

.section--3 {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 2em;

  .section__content-2 {
    display: flex;
    justify-content: end;
    gap: 3em;
  }

  .testimony-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #0E0227;
    width: 75%;
    color: #F8F8F8;
    margin: 0em 2em;

    img {
      top: 3em;
      left: -1em;
      width: 14rem;
      height: 14rem;
    }

    &__quote-1 {
      line-height: 3em;
      font-size: 1em;
      padding: 0em 1em;
      width: 75%;
    }

    &__author-1 {
      padding: 3em 1em;
      text-align: end;
      font-family: Pixel;
    }
  }

  .testimony-2 {
    position: relative;
    display: grid;
    flex-direction: row;
    background-color: #6528F7;
    width: 75%;
    color: #F8F8F8;
    margin: 0em 2em;

    img {
      position: absolute;
      top: 3em;
      right: -1em;
      width: 14rem;
      height: 14rem;
    }

    &__image-2 {
      display: flex;
      justify-content: end;
    }

    &__quote-2 {
      line-height: 3em;
      font-size: 1em;
      padding: 0em 1em;
      width: 75%;
      text-align: end;
    }

    &__author-2 {
      padding: 3em 1em;
      font-family: Pixel;
    }
  }
}

.section--4 {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 3em;

  .section__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images-1 {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .images-2 {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .image-1 {
    object-fit: cover;
    width: 25em;
    height: 20em;
  }

  .image-2 {
    object-fit: cover;
    width: 25em;
    height: 20em
  }

  .image-3 {
    object-fit: cover;
    width: 25em;
    height: 20em
  }

  .image-4 {
    object-fit: cover;
    width: 25em;
    height: 20em
  }
}

@media screen and (max-width: 1300px){
  .section {
    &__title {
      font-size: 2em;
      font-weight: 400;
      color: #F8F8F8;
      text-align: center;
    }

    &__title-testinomies {
      font-size: 2em;
    }

    .paragraph {
      font-size: 1em;
    }
  }

  .section--2 {
    .card {
      width: 45vh;
      font-size: 0.90em;

      &__header-1 {
        font-size: 1.5rem;
      }

      &__header-2 {
        font-size: 1.5rem;
      }
    }
  }

  .section--3 {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 2em;

    .testimony-1 {
      img {
        width: 12rem;
        height: 12rem;
      }

      &__quote-1 {
        line-height: 3em;
        font-size: 0.8em;
        padding: 0em 1em;
        width: 75%;
      }

      &__author-1 {
        font-size: 0.8em;
      }
    }

    .testimony-2 {
      img {
        width: 12rem;
        height: 12rem;
      }

      &__quote-2 {
        line-height: 3em;
        font-size: 0.8em;
        padding: 0em 1em;
        width: 75%;
      }

      &__author-2 {
        font-size: 0.8em;
      }
    }
  }
}

@media screen and (max-width: 910px){
  .section {
    &__title {
      font-size: 2em;
      font-weight: 400;
      color: #F8F8F8;
      text-align: center;
    }

    &__title-testinomies {
      font-size: 2em;
    }

    .paragraph {
      font-size: 1em;
    }
  }

  .section--2 {
    .section__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 55vh;
      font-size: 0.90em;

      &__header-1 {
        font-size: 1.5rem;
      }

      &__header-2 {
        font-size: 1.5rem;
      }
    }
  }

  .section--3 {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 2em;

    .testimony-1 {
      img {
        width: 10rem;
        height: 10rem;
      }

      &__quote-1 {
        line-height: 2em;
        font-size: 0.8em;
        padding: 0em 1em;
        width: 75%;
      }

      &__author-1 {
        font-size: 0.8em;
      }
    }

    .testimony-2 {
      display: flex;
      flex-direction: row;

      img {
        position:unset;
        top: 3em;
        right: -1em;
        width: 10rem;
        height: 10rem;
      }

      &__image-2 {
        display: flex;
        justify-content: end;
      }

      &__quote-2 {
        line-height: 2em;
        font-size: 0.8em;
        padding: 0em 1em;
        width: 75%;
        text-align: end;
      }

      &__author-2 {
        padding: 3em 1em;
        font-family: Pixel;
      }
    }
  }
}

@media screen and (max-width: 630px){
  .section {
    &__title {
      font-size: 1.5em;
      font-weight: 400;
      color: #F8F8F8;
      text-align: center;
    }

    &__right {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      background-color: #6528F7;
      z-index: 1;
    }

    &__title-testinomies {
      font-size: 1.5em;
    }

    .paragraph {
      font-size: 0.8em;
    }
  }

  .section--2 {
    .section__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 30vh;
      font-size: 0.80em;

      &__header-1 {
        font-size: 1.2rem;
      }

      &__header-2 {
        font-size: 1.2rem;
      }
    }
  }

  .section--3 {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 2em;

    .testimony-1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 10rem;
        height: 10rem;
      }

      &__quote-1 {
        line-height: 2em;
        font-size: 0.8em;
        padding: 0em 0em;
        margin: auto;
        width: 75%;
        text-align: justify;
      }

      &__author-1 {
        font-size: 0.8em;
        margin: auto;
        padding: 1em 3em;
      }
    }

    .testimony-2 {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        position:unset;
        top: 3em;
        right: -1em;
        width: 10rem;
        height: 10rem;
      }

      &__image-2 {
        display: flex;
        justify-content: end;
      }

      &__quote-2 {
        line-height: 2em;
        font-size: 0.8em;
        padding: 0em 0em;
        margin: auto;
        width: 75%;
        text-align: justify;
      }

      &__author-2 {
        font-size: 0.8em;
        margin: auto;
        padding: 1em 3em;
        font-family: Pixel;
      }
    }
  }

  .section--4 {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 3em;

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .images-1 {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }

    .images-2 {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }
}
