<a11y-header></a11y-header>

<div class="section section--1">
  <div class="section__content">
    <img class="section__image" src="../../../assets/home_image.jpg" alt='accessibility keyboard'>
    <!-- <div> Photo by <a href="https://unsplash.com/@elizabeth_woolner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Elizabeth Woolner</a> on <a href="https://unsplash.com/photos/a-laptop-computer-sitting-on-top-of-a-desk-9xxNZCJZ8bA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></div> -->
    <div class="section__right">
      <div class="section__title">
        Who are we ?
      </div>
      <div class="paragraph">
        <span>The a11y website aims at showing you the best practices regarding web design and accessibility.</span>
        <span>We are a really
          modern website that is easily usable by everyone. Well. Almost. Not really.
        </span>
        <span>AT LEAST WE TRIED OK!!!!!</span>
      </div>
    </div>
  </div>
</div>

<div class="section section--2">
  <div class="section__left">
    <div class="section__title">
      Our strengths
    </div>
  </div>

  <div class="section__content">
    <div>
      <div class="card card--1">
        <div class="card__header-1">Expertise</div>
        <div class="card__body">Our developers and designers are all 20+ years of experience. They works with the premises on the web.</div>
      </div>

      <div class="card card--2">
        <div class="card__header-2">Up to date</div>
        <div class="card__body">We follow the new standards such as HTML 2 and CSS. We're quite proud to be that up to date.</div>
      </div>
    </div>

    <div>
      <div class="card card--2">
        <div class="card__header-2">Attention to details</div>
        <div class="card__body">We scrutinized and polished every single pixel of this website for the best experience ever.</div>
      </div>

      <div class="card card--1">
        <div class="card__header-1">Support</div>
        <div class="card__body">We are easily accessible through the contact form that you can reach <a href="/contact">here</a></div>
      </div>
    </div>
  </div>
</div>

<div class="section section--3">
  <div class="section__right-testinomies">
    <div class="section__title-testinomies">
      Testominies
    </div>
  </div>

  <div class="section__content-1">
    <div class="testimony-1">
      <div class="testimony__image">
        <img src="assets/home-testimony-portrait-1.png" alt="testimony portrait" />
      </div>
      <div class="testimony__content">
        <div class="testimony-1__quote-1">
          <span>
            "I like this website. It shows me all the colors that do exist and are not to be used on the Internet.
            Navigating this website feels like a quest into the unknown. And all that for free.""
          </span>
        </div>
        <div class="testimony-1__author-1"><span class="testimony-1__name-1">Sandra,</span> a11y user</div>
      </div>
    </div>
  </div>

  <div class="section__content-2">
    <div class="testimony-2">
      <div class="testimony__content">
        <div class="testimony-2__quote-2">"Since I discovered this website, I lost 5/10 in average on my eyes and had to buy glasses. This is a very
        nice warning to what kind of emotions and physical modifications good websites can cause."</div>
        <div class="testimony-2__author-2"><span class="testimony-1__name-1">Michael,</span> a11y user</div>
      </div>
      <div class="testimony__image">
        <img src="assets/home-testimony-portrait-2.png" alt="testimony portrait" />
      </div>
    </div>
  </div>
</div>

<div class="section section--4">
  <div class="section__left">
    <div class="section__title">
      Images
    </div>
  </div>
  <div class="section__content">
    <div class="images-1">
      <div class="image">
        <img class="image-1" src="assets/home-page-gallery-1.jpg" alt="Sigmund accessibility keyboard"/>
        <div class="image__caption">Photo by <a href="https://unsplash.com/@sigmund?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sigmund</a> on <a href="https://unsplash.com/photos/person-holding-black-plastic-case-HE1zW44Zm_Y?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      </div>
    </div>

      <div class="image">
        <img class="image-2" src="assets/home-page-gallery-2.jpg" alt="Elizabeth Woolner virtual keyboard"/>
        <div class="image__caption">Photo by <a href="https://unsplash.com/@elizabeth_woolner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Elizabeth Woolner</a> on <a href="https://unsplash.com/photos/a-persons-hand-on-a-table-with-a-chain-attached-to-it-oRZJSFcFjNk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </div>
      </div>
    </div>

    <div class="images-2">
      <div class="image">
        <img class="image-3" src="assets/home-page-gallery-3.jpg" alt="Ivan Aleksic picture"/>
        <div class="image__caption">Photo by <a href="https://unsplash.com/@ivalex?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ivan Aleksic</a> on <a href="https://unsplash.com/photos/woman-in-black-long-sleeve-shirt-covering-her-face-hko-iWhYdYE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </div>
      </div>

      <div class="image">
        <img class="image-4" src="assets/home-page-gallery-4.jpg" alt="Jorge Franganillo picture"/>
        <div class="image__caption">Photo by <a href="https://unsplash.com/@franganillo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jorge Franganillo</a> on <a href="https://unsplash.com/photos/man-wearing-red-crew-neck-sweater-with-teal-and-black-backpack-outdoor-during-daytime-6KO9KV8QP-c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </div>
      </div>
    </div>
  </div>
</div>

